
html {
    overflow: scroll;
}

html, body, form, main {
    height: 100%;
} 

body {
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgb(17, 22, 41);
    box-shadow: inset 0px 0px 10px rgba(255, 81, 0, 0.5);    /* background-image: url("../images/bg.jpg"); */
    /* background-image: url("../images/sheriff_crandy.jpg"); */
    /* background-image: url("../images/flbg.png"); */
    /* in case hamburger menu animation overflows */
    overflow-x: hidden;
}

.fl-bg-img {
    /* position: fixed;
    margin-top: 2rem;
    left: 0;
    right: 0;
    z-index: 0; */
    /* display: block; */
    /* background-image: url("../images/flbg.png"); 
    filter: blur(2px);
    width: 100%;
    height: 100%; */
}

.content {
    /* keeps sheriff crandy image centered */
    position:relative;
    /* left: 0; */
    /* right: 0;  */
    /* highest z-index second to hamburger menu */
    z-index: 9998;
}

/* navbar color transparent */
.navbar {
    background:rgba(0, 0, 0,0) !important;
    /* position: fixed; */
    top:0;
    width: 100%;
    /* make navbar go over main content */
    z-index: 9999;
  }

/* Sheriff Crandy logo */
.logo {
    margin: 2rem;
    color: rgb(255, 255, 255);
}

.logo:hover {
    color: white;
}

  /* remove nav link background */
.navbar-item {
    display: flex !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    background: none !important;
    border-radius: 1%;
}

.navbar-item:hover {
    color: rgb(194, 181, 0) !important;
    background: none !important;
}

.navbar-burger {
    position: absolute !important;
    top: 1rem !important;
    right: 1rem !important;
}

/* remove hamburger button background */
.navbar-burger:hover {
    background-color: transparent !important;
}

/* hamburger button span stroke color on hover */
.navbar-burger:hover span{
    color: rgb(197, 197, 197);
}

/* overwriting bulma hamburger stroke animation */
/* stroke length and height*/
.navbar-burger span {
    background-color: none !important;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 25px;
    height: 2.5px;
}

/* remove hamburger button background */
.navbar.is-dark .navbar-burger{
    background: none;
}
/* hamburger stroke color */
.navbar-burger span {
    color: white;
}
/* hamburger button closed */
.navbar-burger span:first-child {
    transition-duration: 300ms;
    top: calc(50% - 7px);
}
.navbar-burger span:nth-child(2) {
    transition-duration: 300ms;
    top: calc(50%);

}
.navbar-burger span:nth-child(3) {
    transition-duration: 300ms;
    top: calc(50% + 7px);
}

/* hamburger button opened */
.navbar-burger.is-active span:first-child {
    transition-duration: 300ms;
    transform: translateY(7px) rotate(45deg);
    color: rgb(255, 255, 255);
}

.navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
    color: rgb(255, 255, 255);

}
.navbar-burger.is-active span:nth-child(3) {
    transition-duration: 300ms;
    transform: translateY(-7px) rotate(-45deg);
    color: rgb(255, 255, 255);


}

.sheriff-crandy-img {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
}


@media screen and (min-width: 1024px) {
    /* navbar menu items when not collapsed */
    .navbar-menu{
        align-items: stretch;
        display: flex;
        position: absolute !important;
        top: 1rem !important;
        right: 1rem !important;
    }
    /* sheriff crandy image */
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 600px; 
        max-height: 600px;
    }
}

/* navbar menu animation */
@media screen and (max-width: 1023px) {
    .navbar-menu {
       
        /* determines how much screen the menu will fill */
        /* transform: translateX(100%) !important;*/
    }
    .navbar-menu.is-active {
        opacity: 1;
        /* transform: none; */
        /* ensures entire screen is filled */
        position: fixed;
        /* menu background color */
        background-color:rgba(0, 0, 0, 0.8) !important;
        /* bg blur */
        backdrop-filter: blur(1rem) !important;
        /* amount of screen space that the menu will take up */
        inset: 0 0 0 0 !important;
        /* place nav items centrally and slightly left*/
        padding: min(30vh, 10rem) 4em !important;
    }
    /* ensure burger button shows inside navbar menu */
    .navbar-burger.is-active {
        z-index: 9999;
    }

    .navbar-item {
        text-decoration: none;
        color: rgb(255, 255, 255) !important;
        font-weight: 700;
        font-size: xx-large;
    }
    .navbar-item:hover {
        color: rgb(0, 217, 255) !important;
    }

    a.navbar-item {
        width: fit-content;
    }

    /* sheriff crandy image mobile */
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 500px; 
        max-height: 500px;
    }
}

/* hero banner */
.hero-body {
    z-index: -1;
    /* background-image: url("../images/flbg.png"); */
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

.title, .subtitle {
    color: white;
}


/* even smaller sheriff crandy image mobile */
@media screen and (max-width: 570px) {
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 400px; 
        max-height: 400px;
    }
}

/* smallest sheriff crandy image mobile */
@media screen and (max-width: 455px) {
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 320px; 
        max-height: 320px;
    }
}

/* homepage */
/* .home {
    padding-top: 2rem;
} */

/* track cover art */
img.cover-art {
    width: 20%;
    height: 20%;
}


/* footer */
.footer_text {
	color: rgb(203, 255, 255);
    text-align: center;
}

/* sns div */
.social-media-div {
    padding-left: 10px;
    padding-right: 10px;
}
/* sns icon color */
path {
    fill: aqua;
}
/* list items */
ul.sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
}

li.instagram, li.youtube, li.twitter {
    padding: 0.7rem;
}

/* lctec icon */
.footer-img {
    height: 15px;
    width: 15px;
}
/* give shadow to footer */
.my-footer {
	box-shadow: 0 0 7px rgba(0, 204, 255, 0.6);
    background-color: black;
    /* make footer stick to bottom */
    bottom: 0px;
    width: 100%;
    z-index: 9999;
}

a.company_link {
	color:bisque;
}
a.company_link:hover {
	color:rgb(60, 200, 255);
}