
html {
    overflow: scroll;
}

html, body, form, main {
    height: 100%;
} 

body {
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgb(17, 22, 41);
    box-shadow: inset 0px 0px 10px rgba(255, 81, 0, 0.5);    /* background-image: url("../images/bg.jpg"); */
    /* background-image: url("../images/sheriff_crandy.jpg"); */
    /* background-image: url("../images/flbg.png"); */
    /* in case hamburger menu animation overflows */
    overflow-x: hidden;
}

/* navbar color transparent */
.navbar {
    background:rgba(0, 0, 0,0) !important;
    /* position: fixed; */
    top:0;
    width: 100%;
    /* make navbar go over main content */
    z-index: 9999;
  }

/* Sheriff Crandy logo */
.logo {
    margin: 2rem;
    color: rgb(255, 255, 255);
}

.logo:hover {
    color: white;
}

  /* remove nav link background */
.navbar-item {
    display: flex !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    background: none !important;
    border-radius: 1%;
}

.navbar-item:hover {
    color: rgb(194, 181, 0) !important;
    background: none !important;
}

.my-burger {
    z-index: 9999;
    position: absolute !important;
    /* position: relative; */
    top: 1rem !important;
    right: 1rem !important;
    color: hsl(0deg, 0%, 29%);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    width: 3.25rem;
    margin-left: auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    /* color: currentColor; */
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* remove hamburger button background */
.my-burger:hover {
    background-color: transparent !important;
}

/* hamburger button span stroke color on hover */
.my-burger:hover span{
    color: rgb(197, 197, 197);
}

/* overwriting bulma hamburger stroke animation */
/* stroke length and height*/
.my-burger span {
    /* color: white !important; */
    /* background-color: none !important; */
    background-color: white;
    display: block;
    height: 1px;
    left: calc(50% - 12px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 25px;
    height: 2.5px;
}

/* remove hamburger button background */
.navbar.is-dark .my-burger{
    background: none;
}

/* hamburger button closed */
.my-burger span:first-child {
    transition-duration: 300ms;
    top: calc(50% - 7px);
}
.my-burger span:nth-child(2) {
    transition-duration: 300ms;
    top: calc(50%);

}
.my-burger span:nth-child(3) {
    transition-duration: 300ms;
    top: calc(50% + 7px);
}

/* hamburger button opened */
.my-burger.is-active span:first-child {
    transition-duration: 300ms;
    transform: translateY(7px) rotate(45deg);
    color: rgb(255, 255, 255);
}

.my-burger.is-active span:nth-child(2) {
    opacity: 0;
    color: rgb(255, 255, 255);

}
.my-burger.is-active span:nth-child(3) {
    transition-duration: 300ms;
    transform: translateY(-7px) rotate(-45deg);
    color: rgb(255, 255, 255);


}

.sheriff-crandy-img {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
}


@media screen and (min-width: 1024px) {
    .navbar-end {
        display: flex !important;
    }
    .my-burger {
        display: none !important;
    }

    /* navbar menu items when not collapsed */
    .my-navbar-menu{
        align-items: stretch;
        display: flex;
        position: absolute !important;
        top: 1rem !important;
        right: 1rem !important;
    }
    /* sheriff crandy image */
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 600px; 
        max-height: 600px;
    }
}


/* when navbar menu collapses under hamburger */
@media screen and (max-width: 1023px) {
    /* hide navbar items until hamburger button is clicked */
    .navbar-end {
        display: none;
    }

    /* show bnavbar items when hamburger is clicked */
    .navbar-end.is-active {
        display: block;
        /* position nav items when hamburger opens */
        padding: 5rem;
    }

    /* navbar when hamburger button is not clicked */
    .my-navbar-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color:rgba(0, 0, 0, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    /* navbar when hamburger is opened */
    .my-navbar-menu.is-active {
        /* end at width 100% */
        /* left: 0px; */
        /* inset: 0 0 0 0; */
        /* display: block; */
        height: 100%;
        position: fixed;
        z-index: 999;
        background-color:rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1rem);
        overflow-x: hidden;
        transition: 0.5s;
    }

    /* ensure burger button shows inside navbar menu */
    .my-burger.is-active {
        z-index: 9999;
    }

    .navbar-item {
        text-decoration: none;
        color: rgb(255, 255, 255) !important;
        font-weight: 700;
        font-size: 5.5vmin;

    }
    .navbar-item:hover {
        color: rgb(255, 238, 0) !important;
    }

    a.navbar-item {
        width: fit-content;
    }

    /* sheriff crandy image mobile */
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 500px; 
        max-height: 500px;
    }
}

/* hero banner */
.hero-body {
    z-index: -1;
    /* background-image: url("../images/flbg.png"); */
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

.title, .subtitle {
    color: white;
}


/* even smaller sheriff crandy image mobile */
@media screen and (max-width: 570px) {
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 400px; 
        max-height: 400px;
    }
}

/* smallest sheriff crandy image mobile */
@media screen and (max-width: 455px) {
    .sheriff-crandy-img {
        height: auto; 
        width: auto; 
        max-width: 320px; 
        max-height: 320px;
    }
}

.section {
    padding: 1.5rem 1.5rem;
    /* make section take up page height so footer can be stuck to the bottom */
    min-height: calc(100vh - 4rem - 4rem);
}

.banner {
    margin-bottom: 2rem;
    margin-left: 3rem;
}
/* music page */
/* make media player items inline */
.media-player {
    display: flex;
}
/* .media-player div, p, h5, figure {
    display: flex;
}  */
/* track cover art */
img.cover-art {
    width: 10rem;
    height: auto;
}


/* footer */
.footer_text {
	color: rgb(203, 255, 255);
    text-align: center;
}

/* sns div */
.social-media-div {
    padding-left: 10px;
    padding-right: 10px;
}
.spotify path {
    fill: rgb(0, 230, 0);
}
.apple path {
    fill: white;
}
/* sns colors */
.instagram path {
    fill: rgb(255, 0, 157);
}

.twitter path {
    fill: rgb(52, 208, 255);
}

.youtube path {
    fill: red;
}

.gab path {
    fill:#21cf7a;
}

.amazon path {
    fill: rgb(255, 195, 29);
}

/* list items */
ul.sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
}

li.instagram, li.youtube, li.twitter, li.gab, li.apple, li.spotify, li.amazon {
    padding: 0.7rem;
}

.icon:hover path {    
    fill: rgb(253, 228, 0);
}

.amazon-svg {
    overflow: visible;
}
.gab-svg {
    overflow: visible;
}

/* lctec icon */
.footer-img {
    height: 15px;
    width: 15px;
}

/* footer styling. Footer is fixed at bottom because section div takes up entire page height */
.my-footer {
	box-shadow: 0 0 7px rgba(0, 204, 255, 0.6);
    background-color: black;
}

a.company_link {
	color:bisque;
}
a.company_link:hover {
	color:rgb(60, 200, 255);
}