/*** music page ***/

/* audio player section */
.audio-player-section {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

/* media player div */
section.audio-player-section {
    transition: width 2s, height 2s, transform 2s;
}

/* track cover art */
img.cover-art {
    width: 10rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

/* fade cover image in */
.cover-art {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


/* skip icons */
.skip-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

/* fa fa-fast-backward */
.fa-fast-backward {
    padding-right: 1rem;
    color: black;
}

/* fa fa-fast-forward */
.fa-fast-forward {
    color: black;
}

/* change color on hover */
.fa-fast-forward:hover, .fa-fast-backward:hover {
    color: rgb(98, 0, 143);
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}


/* html audio player always hidden (play pause functionality handled by vue) */
.hidden-player {
    display: none;
}

/* for each track list item */
.track-list-item {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    /* keep everything aligned horizontally */
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* hover track list item */
.track-list-item:hover {
    background-color: rgb(247, 247, 247);
    -moz-transition: all .18s ease-in;
    -o-transition: all .18s ease-in;
    -webkit-transition: all .18s ease-in;
    transition: all .18s ease-in;
}

/* hide track number when hovered*/
.track-list-item:hover .track-number {
    display: none;
}

.track-number {
    display: block;
    width: 31px;
    /* align track numbers with play/pause buttons */
    padding-left: 0.5rem;
    color: rgb(0, 0, 0,0.5);
}

/* pause button */
.pause-button {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

/* play button */
/* .play-icon-span {
    background-color: rgb(0, 0, 0);
} */

/* show play a tags on track block hover */
.track-list-item:hover .play-button {
    /* stacks play pause buttons on top of each other */
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

.play-button-on-pause {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);

}

/* play/pause icon fill color */
.play-icon-svg, .pause-icon-svg {
    fill: rgb(255, 255, 255) !important;
}


.track-title {
    color: black;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 14px;
    align-items: baseline;
    display: flex;
    /* font-size: 1em; */
}

.track-title-inner {
    padding-right: 1rem;
}
.track-dur {
    color: rgb(61, 61, 61);
    padding-left: 0.5rem;
}

/* price buttons */
.button.is-black.price-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}