/*** 
    FLPS VIEW STYLING 

***/

.flp-section {
    padding-left: 20rem;
    padding-right: 20rem; 
}

@media screen and (max-width: 1023px) {
    .flp-section {
        padding: 2rem;
    }
}

.flp-main-title {
    border: 1px solid rgb(0, 199, 199);
    padding: 1rem;
}

.flp-guide {
    padding: 1.2rem;
    font-size: 16px !important;
}

/* audio player section */
.flp-items-section {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

/* for each track list item */
.flp-list-item {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    /* keep everything aligned horizontally */
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* hover track list item */
.flp-list-item:hover {
    background-color: rgb(233, 233, 233);
    -moz-transition: all .18s ease-in;
    -o-transition: all .18s ease-in;
    -webkit-transition: all .18s ease-in;
    transition: all .18s ease-in;
}


.track-number {
    display: block;
    width: 31px;
    /* align track numbers with play/pause buttons */
    padding-left: 0.5rem;
    color: rgb(0, 0, 0,0.5);
}

.flp-title {
    color: black;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 14px;
    align-items: baseline;
    display: flex;
    /* font-size: 1em; */
}

.flp-title-inner {
    padding-right: 1rem;
}
.track-dur {
    color: rgb(61, 61, 61);
    padding-left: 0.5rem;
}

.flp-file-links {
    color:chartreuse !important; 
    text-decoration: none;
    font-size: 13px !important;
}

.flp-file-links:hover {
    color: white !important;
}


/* price buttons */
.button.is-black.price-button {
    animation: fadeIn 1s;
}
.button.is-black.price-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.flps-in-cart-button {
    /* button color */
    background-color: rgb(6, 255, 201);
    /* text color */
    color: rgb(0, 0, 0);
    animation: fadeIn 1s;
}

/* in cart button */
.flps-in-cart-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}