/* 

    Language modal styling

*/

.my-region-modal-list-item {
    text-align: center;
    padding: 0.5rem;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.my-region-modal-list-item:hover {
    background-color: rgba(212, 211, 206, 0.3);
}

@media screen and (max-width: 1024px) {
    .my-region-modal-card-title {
        font-size: large;
        text-align: center;
    }
}

.my-region-modal-card-body {
    padding-bottom: 2.5rem;
}