/*** 
    MUSIC VIEW STYLING

***/

.main-music-section {
    padding-left: 20rem;
    padding-right: 20rem; 
    margin-bottom: 10rem;
}

@media screen and (max-width: 1023px) {
    .main-music-section {
        padding: 2rem;
    }
}

/* main title banner on top of page */
/* .music-title {
    border: 1px solid rgb(0, 199, 199);
    padding: 1.2rem;
} */

/* file download procedures */
.music-guide {
    padding: 1.2rem;
}

.file-links {
    color:chartreuse !important; 
    text-decoration: none;
}

.file-links:hover {
    color: white !important;
}

/* audio player section */
.music-player-section {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

/* media player div */
/* section.audio-player-section {
    transition: width 2s, height 2s, transform 2s;
} */

/* track title below image */
.track-title-img {
    display: block;
    margin-left: 2.2rem;
    padding-top: 1rem;
    color: rgb(255, 255, 255);
    font-size: small;
}

.track-img {
    padding-top: 1.5rem;
}

/* track cover art */
img.cover-art {
    width: 10rem;
    /* keep track art img height the same to prevent music player
    from "jumping" up and down the div. Looks bad
     */
    min-height: 7rem !important;
    max-height: 7rem !important;
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    border-radius: 8%;
    box-shadow: 0 0px 40px rgba(255, 0, 0, 0.4);

}

/* fade cover image in */
.cover-art {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


/* fwrapper to position div to right-most top of player*/
.skip-icons-wrapper {
    display: flex;
    justify-content: flex-end;
}
/* space between icons */
.skip-icons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 5rem;
}

/* fa fa-fast-backward */
.fa-fast-backward {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* fa fa-fast-forward */
.fa-fast-forward {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* change color on hover */
@media screen and (min-width: 1024px) {
    .fa-fast-forward:hover, .fa-fast-backward:hover {
        color: rgb(136, 136, 136);
        -moz-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;
    }
}



/* html audio player always hidden (play pause functionality handled by vue) */
.hidden-player {
    display: none;
}

/* for each track list item */
.track-list-item {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    /* keep everything aligned horizontally */
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* hover track list item */
.track-list-item:hover {
    background-color: rgb(233, 233, 233);
    -moz-transition: all .18s ease-in;
    -o-transition: all .18s ease-in;
    -webkit-transition: all .18s ease-in;
    transition: all .18s ease-in;
}

/* hide track number when hovered*/
.track-list-item:hover .track-number {
    display: none;
}

.track-number {
    display: block;
    width: 31px;
    /* align track numbers with play/pause buttons */
    padding-left: 0.5rem;
    color: rgb(0, 0, 0,0.5);
}

/* pause button */
.pause-button {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

/* show play a tags on track block hover */
.track-list-item:hover .play-button {
    /* stacks play pause buttons on top of each other */
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

.play-button-on-pause {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);

}

/* play/pause icon fill color */
.play-icon-svg, .pause-icon-svg {
    fill: rgb(255, 255, 255) !important;
}


.track-title {
    color: black;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 14px;
    align-items: baseline;
    display: flex;
    /* font-size: 1em; */
}

.track-title-inner {
    padding-right: 1rem;
}
.track-dur {
    color: rgb(61, 61, 61);
    padding-left: 0.5rem;
}

/* price buttons */
.button.is-black.price-button {
    animation: fadeIn 1s;
}
.button.is-black.price-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

/* in cart button */
.music-in-cart-button {
    /* button color */
    background-color: rgb(6, 255, 201);
    /* text color */
    color: rgb(0, 0, 0);
    animation: fadeIn 1s;
}

/* in cart button */
.music-in-cart-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}