/*** 
    MUSIC VIEW STYLING

***/

.main-music-section {
    padding-left: 20rem;
    padding-right: 20rem; 
    margin-bottom: 10rem;
}

@media screen and (max-width: 1023px) {
    .main-music-section {
        padding: 2rem;
    }
}

/* main title banner on top of page */
/* .music-title {
    border: 1px solid rgb(0, 199, 199);
    padding: 1.2rem;
} */

/* file download procedures */
.music-guide {
    padding: 1.2rem;
    font-size: 16px !important;
}

.file-links {
    color:chartreuse !important; 
    text-decoration: none;
    font-size: 13px !important;
}

.file-links:hover {
    color: white !important;
}

/* audio player section */
.music-player-section {
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

/* media player div */
/* section.audio-player-section {
    transition: width 2s, height 2s, transform 2s;
} */


/* cover art positioning */
.track-img {
    padding-top: 1.5rem;
    display: flex; /* Set the container to use flexbox layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

/* track cover art */
img.cover-art {
    min-height: 18rem !important;
    max-height: 18rem !important;
    width: 30rem !important;
    display: block;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    border-radius: 8%;
    box-shadow: 0 0px 40px rgba(255, 0, 0, 0.4);

}

/* fade cover image in */
.cover-art {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* track title below image */
.track-title-img {
    display: block;
    display: flex; /* Set the container to use flexbox layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */ 
    padding-top: 2rem;
    color: rgb(255, 255, 255);
    font-size: small;
}


/* fwrapper to position div to right-most top of player*/
.music-player-controls-wrapper {
    display: flex;
    justify-content: center;
}
/* space between icons */
.music-player-controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 8rem;
}

/* fa fa-fast-backward */
.fa-fast-backward {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 24px;
    margin-right: auto; /* push to leftmost position */
}

/* draw a circle around the play/pause control buttons */
.play-controller, .pause-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-play, .fa-pause {
    font-size: 24px;
    color: white;
}

/* fa fa-fast-forward */
.fa-fast-forward {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 24px;
    margin-left: auto; /* push to rightmost position */

}

/* SLIDE BAR AND SLIDER */
.slide-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 2rem;
}

.slider {
    /* needs to be absolute to move along the slide bar */
    position: absolute;
    top: -0.3rem;
    /* left: 0; */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0, 238, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    /* transform: translateX(-50%); */
    transform: translateX(0);
    transition: transform 0.3s linear; 
}

/* change color on hover */
@media screen and (min-width: 1024px) {
    .fa-fast-forward:hover, .fa-fast-backward:hover {
        color: rgb(136, 136, 136);
        -moz-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;
    }
}



/* html audio player always hidden (play pause functionality handled by vue) */
.hidden-player {
    display: none;
}

.audio-player-ul {
    background-color: white;
}

/* for each track list item */
.track-list-item {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    /* keep everything aligned horizontally */
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* hover track list item */
.track-list-item:hover {
    background-color: rgb(233, 233, 233);
    -moz-transition: all .18s ease-in;
    -o-transition: all .18s ease-in;
    -webkit-transition: all .18s ease-in;
    transition: all .18s ease-in;
}

/* hide track number when hovered*/
.track-list-item:hover .track-number {
    display: none;
}

.track-number {
    display: block;
    width: 31px;
    /* align track numbers with play/pause buttons */
    padding-left: 0.5rem;
    color: rgb(0, 0, 0,0.5);
}

/* pause button */
.pause-button {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

/* show play a tags on track block hover */
.track-list-item:hover .play-button {
    /* stacks play pause buttons on top of each other */
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);
}

.play-button-on-pause {
    display: block;
    height: 26px;
    padding: 0;
    width: 26px;
    margin-right: 0.31rem;
    background-color: rgb(0, 0, 0);

}

/* play/pause icon fill color */
.play-icon-svg, .pause-icon-svg {
    fill: rgb(255, 255, 255) !important;
}


.track-title {
    color: black;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 14px;
    align-items: baseline;
    display: flex;
    /* font-size: 1em; */
}

.track-title-inner {
    padding-right: 1rem;
}
.track-dur {
    color: rgb(61, 61, 61);
    padding-left: 0.5rem;
}

/* price buttons */
.button.is-black.price-button {
    animation: fadeIn 1s;
}
.button.is-black.price-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

/* in cart button */
.music-in-cart-button {
    /* button color */
    background-color: rgb(6, 255, 201);
    /* text color */
    color: rgb(0, 0, 0);
    animation: fadeIn 1s;
}

/* in cart button */
.music-in-cart-button:hover {
    background-color: rgb(255, 197, 6);
    color: black;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}