/* 

    MIX of sign-up/log-in styles

*/

/* section */
.my-login-signup-section {
    padding-top: 8rem;
    padding-bottom: 2rem;

}

/* mobile screen */
@media screen and (max-width: 1024px) {
    .my-login-signup-section {
        padding-top: 8rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }
}

/* both signup/log in */
label {
    color: white;
}
/* padding between each field */
.control {
    padding-bottom: 1rem;
}

/* both signup/log in */
.my-errors {
    padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    .my-signup-section {
        padding: 3rem;
    }
}

/* signup login button */
.login-signup-button {
    /* button color */
    background-color: rgb(0, 128, 107);
    /* button text color */
    color: white;
}

/* signup login button */
.login-signup-button:hover {
    /* button color */
    background-color: rgb(0, 90, 75);
    /* button text color */
    color: white;
}

.signup-login-reroute {
    color: rgb(255, 230, 0);
    padding-bottom: 15rem;
}

/* align eye icon to the right for both login and signup*/
.input-container {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Distribute items evenly */
    position: relative; /* Set the container to a relative position */
}

.input-container .my-eye-icon {
    position: absolute; /* Set the icon to absolute position */
    right: 10px; /* Position the icon to the right */
    cursor: pointer;
    z-index: 999; /* preven eye icon from disappearing */
}

.input-container input[type="password"] {
    padding-right: 40px; /* Add padding to the right to make room for the icon */
}