/* bulma toast position */
.notification {
    display: block !important;
    width: auto;
    text-align: center !important;
}

@media screen and (max-width: 1024px) {
    .notification {
        width: auto;
        text-align: center !important;
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
