以下、日本語。 👇

Hi {{name}}! 


This message is to inform you that there was a change to your user account information. 
If you did not make this change, please contact us at kaoruartgallery@gmail.com.


Enjoy browsing the art gallery!


- Kaoru Crandall





こんにちは {{name}} さん！


このメッセージは、Kaoru Art Gallery のユーザー アカウントに変更が加えられたことをお知らせするものです。
この変更を行っていない場合は、kaoruartgallery@gmail.com までご連絡ください。

アート ギャラリーの閲覧をお楽しみください。
どうもありがとうございました！


- クランダル 薫







------ THIS IS AN AUTOMATED EMAIL. REPLIES TO THIS EMAIL WILL NOT BE DELIVERED ------


©2023 - Sheriff Crandy - Jesus Christ is King👑
